# dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# build output
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/public/rss.xml
docs/public/sitemap.xml
docs/public/embeddings-texts.json

# generated pages
docs/_generated/

# OS
.DS_Store
