:root {
  --vp-c-white:#fff;
  --vp-c-black:#000;
  --vp-c-bg:#ffffff;
  --vp-c-bg-alt:#f6f6f7;
  --vp-c-bg-soft:#f1f1f3;
  --vp-c-border:#dcdce0;
  --vp-c-divider:#e2e2e3;
  --vp-c-gutter:#e2e2e3;
  --vp-c-text-1:#1f2328;
  --vp-c-text-2:#4d5560;
  --vp-c-text-3:#6b7280;
  --vp-c-brand-1:#3a5ccc;
  --vp-c-brand-2:#5672cd;
  --vp-c-brand-3:#546dbb;
  --vp-c-brand-soft:rgba(100,108,255,.14);
  --vp-c-default-1:#f1f1f3;
  --vp-c-default-2:#e6e6eb;
  --vp-c-default-3:#dcdce0;
  --vp-c-default-soft:rgba(142,150,170,.14);
  --vp-code-line-height:1.7;
  --vp-code-font-size:.875rem;
  --vp-code-bg:var(--vp-c-default-soft);
  --vp-code-block-color:var(--vp-c-text-2);
  --vp-code-block-bg:var(--vp-c-bg-alt);
  --vp-code-block-divider-color:var(--vp-c-gutter);
  --vp-code-lang-color:var(--vp-c-text-3);
  --vp-code-line-highlight-color:rgba(0,0,0,.04);
  --vp-code-copy-code-background:rgba(30,30,30,.05);
  --vp-code-copy-code-border:rgba(30,30,30,.08);
  --vp-code-copy-code-color:var(--vp-c-text-2);
  --vp-code-copy-code-hover-border:var(--vp-c-brand-1);
  --vp-code-copy-code-hover-color:var(--vp-c-brand-1);
  --vp-custom-block-font-size:14px;
  --vp-custom-block-code-font-size:13px;
}

.dark {
  --vp-c-bg:#1b1b1f;
  --vp-c-bg-alt:#161618;
  --vp-c-bg-soft:#202127;
  --vp-c-border:#3c3f44;
  --vp-c-divider:#2e2e32;
  --vp-c-gutter:#000;
  --vp-c-text-1:#e4e7eb;
  --vp-c-text-2:#a0a5ad;
  --vp-c-text-3:#80868f;
  --vp-c-brand-1:#a8b1ff;
  --vp-c-brand-2:#5c73e7;
  --vp-c-brand-3:#3e63dd;
  --vp-c-brand-soft:rgba(100,108,255,.16);
  --vp-c-default-1:rgba(255,255,255,.08);
  --vp-c-default-2:rgba(255,255,255,.12);
  --vp-c-default-3:rgba(255,255,255,.16);
  --vp-c-default-soft:rgba(101,117,133,.16);
  --vp-code-block-bg:#111114;
  --vp-code-block-color:var(--vp-c-text-2);
  --vp-code-line-highlight-color:rgba(56,189,248,.16);
  --vp-code-copy-code-background:rgba(255,255,255,.04);
  --vp-code-copy-code-border:rgba(255,255,255,.08);
  --vp-code-copy-code-color:var(--vp-c-text-2);
  --vp-code-copy-code-hover-border:var(--vp-c-brand-1);
  --vp-code-copy-code-hover-color:var(--vp-c-brand-1);
}
